<!--<div style="margin: auto;width: 600px;text-align: center">-->
<!--<div class="mb-3 row col-12">-->
<!--    <label for="inputPassword" class="col-sm-2 col-form-label">Tài Khoản </label>-->
<!--    <div class="col-sm-10">-->
<!--        <input type="text" class="form-control" id="inputTK">-->
<!--    </div>-->
<!--</div>-->

<!--<div class="mb-3 row col-12">-->
<!--    <label for="inputPassword" class="col-sm-2 col-form-label">Mật Khẩu </label>-->
<!--    <div class="col-sm-10">-->
<!--        <input type="password" class="form-control" id="inputPassword">-->
<!--    </div>-->
<!--</div>-->
<!--    <a href="/home"> <button type="button" class="btn btn-outline-success col-12" >Đăng Nhập</button></a>-->

<!--    <br>-->
<!--    <br>-->
<!--    <button type="button" class="btn btn-outline-success col-12" >Đăng ký</button>-->
<!--</div>-->