<form method="post" action=""  enctype="multipart/form-data">
    <h1>day la trang detail cua {{itemBook.name}}</h1>
    Ten sach : <input type="text" name="book_name" value="{{itemBook.name}}"/><br>
    Gia sach :<input type="number" name ="book_price" value="{{itemBook.price}}"/><br>
    Tac gia : <input type="text" name="book_author" value="{{book.author}}"><br>
    Anh multer : <input type="file" id="imageM" name="upload_detail" multiple>
    <button type="submit">Them</button>

</form>

