<h1>Xoa danh sach sach</h1>
Ban co dong y xoa: <b>{{itemBook.name}}</b>
<form action="" method="post">
    <button type="submit">Dong y Xoa</button>
    <a href="/book" class="btn btn-default"> Khong</a>
</form>