<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <h3 class="navbar-brand" href="">Home</h3>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/home">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/comic">Truyện</a>
                </li>

                <li class="nav-item">
                    <a href="/Users" class="nav-link active">Danh Sách</a>
                </li>
                <li class="nav-item">
                    <a href="/book" class="nav-link active">Danh sách truyện</a>
                </li>

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-bs-toggle="dropdown" aria-expanded="false">
                        Tài Khoản
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                               data-bs-target="#exampleModalDangnhap">Đăng nhập</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" href="#" data-bs-toggle="modal"
                               data-bs-target="#exampleModalDangky">Đăng ký</a></li>


                    </ul>
                </li>
            </ul>
            <form class="d-flex" style="margin: 5px">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form>

        </div>
    </div>
</nav>


<div class="modal fade" id="exampleModalDangnhap" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-2 row col-12">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Tài Khoản </label>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTK">
                    </div>
                </div>

                <div class="mb-2 row col-12">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Mật Khẩu </label>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>

                <a href="/home">
                    <a type="button" class="btn btn-outline-success col-12">Đăng Nhập</a>
                </a>
                <br>
                <a style="margin-top: 8px" type="button" class="btn btn-outline-success col-12">Đăng ký</a>
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="exampleModalDangky" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Login</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3 row col-12">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Tài Khoản </label>
                    <br>
                    <div class="col-sm-9">
                        <input type="text" class="form-control" id="inputTK">
                    </div>
                </div>

                <div class="mb-3 row col-12">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Mật Khẩu </label>
                    <br>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
                <div class="mb-3 row col-12">
                    <label for="inputPassword" class="col-sm-3 col-form-label">Nhập Lại Mật Khẩu </label>
                    <br>
                    <div class="col-sm-9">
                        <input type="password" class="form-control" id="inputPassword">
                    </div>
                </div>
                <a href="/home">
                    <button type="button" class="btn btn-outline-success col-12">Đăng ký</button>
                </a>
            </div>

        </div>
    </div>
</div>

</div>
{{#each listComic}}
    <div class="card col-sm-3 mt-2" style="width: 20rem; float: left;height: 25rem;margin: 17px">
        <div  style="width: 20rem;">
            <img style="height: 12rem" src="{{this.imgV}}" class="card-img-top card-img-top" alt="{{this.name}}">
            <div class="card-body">
                <h5 class="card-title">
                    {{this.name}}

                </h5>
                <p class="card-text">{{this.author}}</p>
                <a  href="#" class="btn btn-primary">View</a>
            </div>
        </div>
    </div>
{{/each}}